@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, i, span, b, img, strong {
  display: inline-block;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 15px;
}

:root {
  --color1: #2a1454;
  --color2: white ;
  --color3: #8750f7;
  --font-weight1: 500;
  --font-weight2: 700;
  --font-weight3: 300;
}

header {
  max-width: 1320px;
  margin: 0 auto;
}

.navbar,
.nav-logo,
.nav-list {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 2.5rem 0 1.25rem 0;
  justify-content: space-between;
}

.nav-logo {
  gap: 2.5rem;
}
.nav-logo img {
  max-width: 60px;
}
.nav-logo a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight1);
}

.nav-list {
  gap: 3rem;
}
.nav-list ul {
  display: flex;
  gap: 2rem;
}
.nav-list ul a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight1);
}
.nav-list button {
  color: var(--color2);
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 50px;
  font-weight: var(--font-weight2);
  background: linear-gradient(90deg, rgb(121, 70, 223) 0%, rgb(48, 24, 95) 100%);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.banner-text {
  max-width: 636px;
}
.banner-text h3 {
  font-size: 36px;
  color: var(--color1);
  font-weight: var(--font-weight2);
}
.banner-text h1 {
  font-size: 4rem;
  background: linear-gradient(to right, var(--color3) 0%, var(--color1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: var(--font-weight2);
  line-height: 78px;
  margin: 10px 0 15px 0;
}
.banner-text p {
  max-width: 550px;
  font-size: 20px;
  font-weight: var(--font-weight3);
  line-height: 30px;
  margin-bottom: 50px;
}
.banner-text .banner-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner-text .banner-icons button {
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 50px;
  color: var(--color3);
  background-color: var(--color2);
  border: 1px solid var(--color3);
}
.banner-text .banner-icons button span {
  margin-left: 10px;
}
.banner-text .banner-icons .social-icons {
  display: flex;
  gap: 20px;
}
.banner-text .banner-icons .social-icons a {
  font-size: 16px;
  padding: 8px;
  color: var(--color3);
  border: 1px solid var(--color3);
  border-radius: 50%;
}

.banner-img {
  margin-right: 100px;
}
.banner-img img {
  max-width: 430px;
  border-radius: 32px;
  transform: rotate(6deg);
}

.happy-clients {
  display: flex;
  gap: 30px;
}
.happy-clients .clients {
  display: flex;
  gap: 15px;
  width: 300px;
  align-items: center;
  color: var(--color3);
}
.happy-clients .clients h4 {
  font-size: 64px;
  font-weight: var(--font-weight2);
}
.happy-clients .clients p {
  font-size: 16px;
  line-height: 24px;
}

/*# sourceMappingURL=app.css.map */
